#maincontainer {
    padding: 10px;
    box-shadow: 5px 10px;
    max-width: 3000px;
}

.text-center {
    text-align: center;
}

#hrTag { height: 2px; }

#guideFileType { 
    margin-top: 5px; 
    color: red;
}

#labelTraining, #labelTesting, #labelValidation { margin-left: 10px; }

#startProcessButton { text-align: center; }

#errorAlert { margin-top: 10px; }

#helpCanvas { margin-right: 10px; }
