<div id="text-center" class="container p-5 my-5 bg-primary shadow-lg p-3 mb-5 bg-white rounded">
    <section>
        <label>Some dataset samples: </label>
        <hr />
        <img src="assets/Screenshot (74).png" alt="Italian Trulli">	
        <br/>
        <br/>
        <br/>
        <label>Training: </label>
        <hr/>
        <pre style="font-family: Consolas">
Epoch 1/12
248/248 [==============================] - 316s 1s/step - loss: 0.1723 - accuracy: 0.9527 - val_loss: 0.2400 - val_accuracy: 0.9573
Epoch 2/12
248/248 [==============================] - 313s 1s/step - loss: 0.1489 - accuracy: 0.9573 - val_loss: 0.1989 - val_accuracy: 0.9567
Epoch 3/12
248/248 [==============================] - 309s 1s/step - loss: 0.1413 - accuracy: 0.9577 - val_loss: 0.1931 - val_accuracy: 0.9569
Epoch 4/12
248/248 [==============================] - 309s 1s/step - loss: 0.1341 - accuracy: 0.9581 - val_loss: 0.1362 - val_accuracy: 0.9585
Epoch 5/12
248/248 [==============================] - 309s 1s/step - loss: 0.1277 - accuracy: 0.9589 - val_loss: 0.1332 - val_accuracy: 0.9588
Epoch 6/12
248/248 [==============================] - 308s 1s/step - loss: 0.1245 - accuracy: 0.9595 - val_loss: 0.2109 - val_accuracy: 0.9527
Epoch 7/12
248/248 [==============================] - 307s 1s/step - loss: 0.1206 - accuracy: 0.9599 - val_loss: 0.1459 - val_accuracy: 0.9586
Epoch 8/12
248/248 [==============================] - 307s 1s/step - loss: 0.1175 - accuracy: 0.9604 - val_loss: 0.1677 - val_accuracy: 0.9578
Epoch 9/12
248/248 [==============================] - 308s 1s/step - loss: 0.1130 - accuracy: 0.9614 - val_loss: 0.1432 - val_accuracy: 0.9586
Epoch 10/12
248/248 [==============================] - 307s 1s/step - loss: 0.1125 - accuracy: 0.9615 - val_loss: 0.1211 - val_accuracy: 0.9605
Epoch 11/12
248/248 [==============================] - 307s 1s/step - loss: 0.1100 - accuracy: 0.9622 - val_loss: 0.1534 - val_accuracy: 0.9582
Epoch 12/12
248/248 [==============================] - 308s 1s/step - loss: 0.1071 - accuracy: 0.9629 - val_loss: 0.1985 - val_accuracy: 0.9478
        </pre>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Plot Progress</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Predict</label>
        </div>
        <br/>
        <br/>
        <label>Loss and Dice: </label>
        <hr />
        <span>
            <img src="assets/download (1).png" alt="Italian Trulli">
            <img src="assets/download (2).png" alt="Italian Trulli">
        </span>
    </section>
</div>