<div id="text-center" class="container p-5 my-5 bg-primary shadow-lg p-3 mb-5 bg-white rounded">
    <section>
        <h1>Traffic Predictor</h1>
        <hr style="height: 2px;" />
        <br />
        <h4>How your data looks: </h4>
        <mat-card>
            <mat-card-content>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                    <!-- e_id Column -->
                    <ng-container matColumnDef="DateTime">
                        <th mat-header-cell *matHeaderCellDef> DateTime </th>
                        <td mat-cell *matCellDef="let element"> {{element.DateTime}} </td>
                    </ng-container>

                    <!-- Age Column -->
                    <ng-container matColumnDef="Junction">
                        <th mat-header-cell *matHeaderCellDef> Junction </th>
                        <td mat-cell *matCellDef="let element"> {{element.Junction}} </td>
                    </ng-container>

                    <!-- salary Column -->
                    <ng-container matColumnDef="Vehicles">
                        <th mat-header-cell *matHeaderCellDef> Vehicles </th>
                        <td mat-cell *matCellDef="let element"> {{element.Vehicles}} </td>
                    </ng-container>

                    <!-- Bonus Column -->
                    <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </section>
</div>