<div id="text-center" class="container p-5 my-5 bg-primary shadow-lg p-3 mb-5 bg-white rounded">
    <section>
        <h1>Traffic Predictor</h1>
        <hr style="height: 2px;" />
        <br />
        <h4><strong>How your data looks: </strong></h4>
        <mat-card>
            <mat-card-content style="background-color: white;">
                <table style="background-color: white;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                    <!-- e_id Column -->
                    <ng-container matColumnDef="DateTime">
                        <th mat-header-cell *matHeaderCellDef> DateTime </th>
                        <td mat-cell *matCellDef="let element"> {{element.DateTime}} </td>
                    </ng-container>

                    <!-- Age Column -->
                    <ng-container matColumnDef="Junction">
                        <th mat-header-cell *matHeaderCellDef> Junction </th>
                        <td mat-cell *matCellDef="let element"> {{element.Junction}} </td>
                    </ng-container>

                    <!-- salary Column -->
                    <ng-container matColumnDef="Vehicles">
                        <th mat-header-cell *matHeaderCellDef> Vehicles </th>
                        <td mat-cell *matCellDef="let element"> {{element.Vehicles}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                    </ng-container>

                    <!-- Bonus Column -->
                    <ng-container matColumnDef="Year">
                        <th mat-header-cell *matHeaderCellDef> Year </th>
                        <td mat-cell *matCellDef="let element"> {{element.Year}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Month">
                        <th mat-header-cell *matHeaderCellDef> Month </th>
                        <td mat-cell *matCellDef="let element"> {{element.Month}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Day">
                        <th mat-header-cell *matHeaderCellDef> Day </th>
                        <td mat-cell *matCellDef="let element"> {{element.Day}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Hour">
                        <th mat-header-cell *matHeaderCellDef> Hour </th>
                        <td mat-cell *matCellDef="let element"> {{element.Hour}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <br />
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li [ngClass]="classForPreviousButton" (click)="previous()" style="cursor: pointer;">
                            <a class="page-link">{{'\u21E6'}}</a>
                        </li>
                        <li [ngClass]="classForNextButton" (click)="next()" style="cursor: pointer;">
                            <a class="page-link">{{'\u21E8'}}</a>
                        </li>
                    </ul>
                </nav>
            </mat-card-content>
        </mat-card>
        <br />
        <!-- <button (click)="fetchPlot()">show plot</button> -->
        <br />
        <mat-card sytle="background-color: white;">
            <mat-card-content style="background-color: white;">
                <h4><strong>Check the probability line plots:</strong></h4>
                <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="text-align: center; margin-left: 425px;">
                    <mat-button-toggle style="background-color: white; color: black;" (click)="show1()">Junction 1</mat-button-toggle>
                    <mat-button-toggle style="background-color: white; color: black;" (click)="show2()">Junction 2</mat-button-toggle>
                    <mat-button-toggle style="background-color: white; color: black;" (click)="show3()">Junction 3</mat-button-toggle>
                    <mat-button-toggle style="background-color: white; color: black;" (click)="show4()">Junction 4</mat-button-toggle>
                </mat-button-toggle-group> -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination" style="margin-left: 425px;">
                        <li class="page-item" (click)="show1()" style="cursor: pointer;"><a class="page-link">Junction
                                1</a></li>
                        <li class="page-item" (click)="show2()" style="cursor: pointer;"><a class="page-link">Junction
                                2</a></li>
                        <li class="page-item" (click)="show3()" style="cursor: pointer;"><a class="page-link">Junction
                                3</a></li>
                        <li class="page-item" (click)="show4()" style="cursor: pointer;"><a class="page-link">Junction
                                4</a></li>
                    </ul>
                </nav>
                <div *ngIf="plotReadyFor1">
                    <br />
                    <h4 style="font-style: italic;">Probability of number of vehicles at junction 1</h4>
                    <img *ngIf="plotReadyFor1" style="width: 1200px;" src="/assets/histogram{{str}}.png" />
                </div>
                <div *ngIf="plotReadyFor2">
                    <br />
                    <h4 style="font-style: italic;">Probability of number of vehicles at junction 2</h4>
                    <img *ngIf="plotReadyFor2" style="width: 1200px;" src="/assets/histogram{{str}}.png" />
                </div>
                <div *ngIf="plotReadyFor3">
                    <br />
                    <h4 style="font-style: italic;">Probability of number of vehicles at junction 3</h4>
                    <img *ngIf="plotReadyFor3" style="width: 1200px;" src="/assets/histogram{{str}}.png" />
                </div>
                <div *ngIf="plotReadyFor4">
                    <br />
                    <h4 style="font-style: italic;">Probability of number of vehicles at junction 4</h4>
                    <img *ngIf="plotReadyFor4" style="width: 1200px;" src="/assets/histogram{{str}}.png" />
                </div>
                <!-- <img *ngIf="plotReadyFor2" style="width: 1200px;" src="/assets/histogram{{str}}.png" />
                <img *ngIf="plotReadyFor3" style="width: 1200px;" src="/assets/histogram{{str}}.png" />
                <img *ngIf="plotReadyFor4" style="width: 1200px;" src="/assets/histogram{{str}}.png" /> -->
            </mat-card-content>
        </mat-card>
        <br />
        <br />
        <h2>PREDICTION</h2>
        <div class="row">
            <select class="col form-select" aria-label="Default select example" style="height: 60px;"
                [(ngModel)]="inputJunction" (change)="disablePredictionImage()">
                <option selected value="Choose Junction">Choose Junction</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
            </select>
            <div class="col form-floating">
                <input type="number" step="0" class="form-control" placeholder="Number" [(ngModel)]="inputMonths">
                <label style="margin-left: 10px;" for="floatingInput">Number of months to predict</label>
            </div>

            <br /><br /><br /><br />
            <div class="text-center">
                <button style="text-align: center;" type="button" class="btn btn-primary"
                    (click)="start()">Start</button>
            </div>
            <br />
            <br />
            <br />

            <div *ngIf="startedTraining" class="d-flex align-items-center">
                Loading...
                <div style="margin-left: 10px;" class="spinner-grow ml-auto" role="status" aria-hidden="true"></div>
            </div>
            <img *ngIf="predictionImageReady" style="width: 1300px;" src="assets/predicted{{inputJunction}}.png" />

            <div *ngIf="toggleErrorString" class="alert alert-danger" role="alert" style="margin-top: 10px;">
                {{ errorstring }}
            </div>
        </div>
        <a>hello</a>
        <div style="width: 1000px; height: 600px;">
            <canvas id="myChart"></canvas>
        </div>
        <a>hello</a>
        <!-- <button (click)="show()">click me</button> -->
    </section>
</div>