#maincontainer {
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 10px;
}

.offcanvasList:hover { 
    cursor: pointer;
    background:#e6e6e6
}

.toast-header {
    background-color: #f6f6f6;
}