<br />
<br />
<br />
<br />
<div id="maincontainer" class="container p-5 my-5 bg-primary shadow-lg p-3 mb-5 bg-white rounded">
    <section>
        <h1>Traffic Predictor</h1>
        <hr style="height: 2px;" />
        <label for="myfile">Browse dataset: </label>
        <br />
        <input type="file" accept=".csv" id="myfile" name="myfile">
        <br />
        <br/>
        <label for="traintestval">Specify the training, testing and validation ratio: </label>
        <br />
        <div class="row">
            <div class="col form-floating">
                <input type="text" class="form-control" id="traininginput" placeholder="training ratio">
                <label for="floatingInput">training</label>
            </div>
            <div class="col form-floating">
                <input type="text" class="form-control" id="testinginput" placeholder="testing ratio">
                <label for="floatingInput">testing</label>
            </div>
            <div class="col form-floating">
                <input type="text" class="form-control" id="valinput" placeholder="validation ratio">
                <label for="floatingInput">validation</label>
            </div>
        </div>
        <!-- <form #formSubmitter="ngForm" (ngSubmit)="signup(formSubmitter.value)">
            <input type="text" placeholder="Enter Name: ">
            <input type="text" placeholder="Enter Name: ">
            <input type="text" placeholder="Enter Name: ">
            <button>Signup</button>
        </form> -->
        <br/>
        <div class="text-center">
            <button 
                routerLink="page2" 
                style="text-align: center;" 
                type="button" 
                class="btn btn-primary"
                (click)="submit()"
            >Start Process</button>
        </div>
        <br/>
        <div class="text-center">
            <span>
                <a href="#" style="margin-right: 10px;" class="link-danger">help</a>
                <a href="#" class="link-info">about</a>
            </span>
        </div>
    </section>
</div>